<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="3.0">
    <servlet>
        <servlet-name>ScheduleController</servlet-name>
        <servlet-class>com.example.cw_sem3.controller.ScheduleController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ScheduleController</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ScheduleDetailServlet</servlet-name>
        <servlet-class>com.example.cw_sem3.controller.ScheduleDetailServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ScheduleDetailServlet</servlet-name>
        <url-pattern>/detail</url-pattern>
    </servlet-mapping>
</web-app>
